<!-- this is a playground where you can test that the ng-md-time-input works properly.
     If there is code below, it is only for testing purpose. Feel free to change it as you want. -->
<form [formGroup]="formGroup">
    <div class="row">
        <h4>Duration input</h4>
        <mat-form-field>
            <ng-md-time-input formControlName="durationInput" [(ngModel)]="testDuration" placeholder="Test" [showDays]="showDays" minutesSeparator=""
                (change)="testChange($event)" (input)="testInput($event)">

            </ng-md-time-input>
        </mat-form-field>
        <div *ngIf="testDuration">
            <pre>{{getDuration()}}</pre>
        </div>
    </div>

    <div class="row">
        <h4>Moment Time input</h4>
        <mat-form-field>
            <ng-md-time-input formControlName="timeInput" [(ngModel)]="testTime" placeholder="Test" [showDays]="showDays" minutesSeparator=""
                [timeAdapter]="timeAdatper" (change)="testChange($event)" (input)="testInput($event)">

            </ng-md-time-input>
        </mat-form-field>
        <div *ngIf="testTime">
            <pre>{{testTime.format("L HH:mm")}}</pre>
        </div>
    </div>

</form>



<mat-form-field>
    <input [(ngModel)]="testValue" placeholder="Test" (change)="testChange($event)" (input)="testInput($event)" matInput>
</mat-form-field>
