<!-- this is a playground where you can test that the ng-md-time-input works properly.
     If there is code below, it is only for testing purpose. Feel free to change it as you want. -->

<div class="time-input-container">
    <form [formGroup]="formGroup">

        <mat-form-field>
            <ng-md-time-input formControlName="timeInput" [(ngModel)]="testTime" placeholder="Test" [showDays]="showDays" minutesSeparator=""
                (change)="testChange($event)" (input)="testInput($event)" #timeInput></ng-md-time-input>
        </mat-form-field>

        <pre>{{timeInput.errorState}} || {{formGroup.get('timeInput').invalid}}
            {{formGroup.get('timeInput').errors | json }}
        </pre>

    </form>

    <button class="toggle-disabled" (click)="toggleDisableState()">{{formGroup.get('timeInput').disabled ? "Enable Input" : "Disable Input"}}</button>
</div>

<div *ngIf="testTime">
    <pre>{{getTime()}}</pre>
</div>


<mat-form-field>
    <input [(ngModel)]="testValue" placeholder="Test" (change)="testChange($event)" (input)="testInput($event)" disabled matInput>
</mat-form-field>
